.Nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    /* position: fixed;
    width: 100vw; */
  }
  
  .Nav-mid {
    padding: 30px;
    display: flex;
    width: 45%;
    justify-content: space-evenly;
  }
  
  .mid-bt {
    /* background-color: red; */
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #3B413C;
    font-weight: bold;
  }
  
  .mid-bt:hover {
    background-color: #2A265F;
    color: white;
    transition: 0.1s ease-in-out;
  }

  .Nav-Logo {
    display: flex;
  }